@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
}

.wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  

}

.container {
  width: fit-content;
  height: fit-content;
  max-width: 80%;
  max-height: 80%;
  background-color: #cccccc;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.3125em solid #000000;
  border-radius: 0.3125em;
  padding: 1.5em 2em;
 
}

.quote p {
  font-size: 2em;
  
} 

.author span {
  font-size: 1.5em;
  font-style: italic;
}

.button {
  align-self: flex-end;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }

// @media all and (max-width:30em) {
//    .button {

//   display:block;

//   margin: 0.4em auto;
//    }
//   }